.textBubble {
    width: auto;
    height: 30px;
    float: right;
    border-radius: 10px;
}
.textBubble p {
    padding: 2px 6px;
    margin: 0;
}
.textBubble.dark {
    border: 1px solid white;
}
.textBubble.light {
    border: 1px solid black;
}